body {
  background: #040404;
  font-family: "Tajawal", sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.trend-slider .slick-list {
  margin: 0 -8px;
}
.nav-link {
  padding: 0;
}
@media (min-width: 768px) {
  .left_block {
    width: 150px;
    padding: 0;
  }
  .right_block {
    width: calc(100% - 150px);
  }
}
